/* RESET */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: white;
    color: darkslategray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

/* NAVIGATION */

nav {
    height: 60px;
    border-bottom-style: groove;
    
}

nav ul {
    width: 300px;
    margin: 0 auto;
}

nav li {
    line-height: 60px;
    display: inline-block;
}

nav a {
    color: darkslategray;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    padding: 20px;
}

/* BANNER */

div.bgvideo {
    background-image: url("images/banner2.jpg");
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
}

a.logo {
    background-image: url("images/talllogo.png");
    background-size: 180px;
    background-repeat: no-repeat;
    display: block;
    top: 180px;
    width: 180px;
    height: 150px;
    position: relative;
    text-indent: -9999999px;
    margin: 0 auto;
    opacity: 0.8;
}

a.play {
    background-image: url("images/play.png");
    background-size: 80px;
    background-repeat: no-repeat;
    display: block;
    width: 80px;
    top: 170px;
    height: 80px;
    position: relative;
    text-indent: -9999999px;
    margin: 0 auto;
    opacity: 0.8;
}


a.down {
    background-image: url("images/arrow.png");
    background-size: 40px;
    background-repeat: no-repeat;
    display: block;
    width: 40px;
    top: 350px;
    height: 80px;
    position: relative;
    text-indent: -9999999px;
    margin: 0 auto;
}

/* BODY */

.wrapper {
    margin: 0 auto;
    width: 900px;
    background-color: ivory;
}

section {
    margin: 30px 0;
}
.about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

h1 {
    width: 100%;
    margin: 10px 0;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Rock Salt', cursive;
}

.about p {
    width: 400px;
    line-height: 1.5;
    margin-bottom: 25px;
    text-indent: 15px;
}

.about .text {
    padding: 30px;
}

div.photos {
    width: 400px;
}

.photos img:first-of-type {
    margin: 10px 0 0 10px;
    position: relative;
    top: 30px;
    width: 400px;
    height: 261px;
}

.photos img {
    margin: 10px 0 10px 10px;
    background: white;
    height: 140px;
}

/* MOVIES */

section.movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

div.thumbnails {
    margin: 0 auto;
}

figure {
    width: 200px;
    margin: 20px;
    text-align: center;
    display: inline-block;
}

figure img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
}

caption {
    width: 200px;
}

.testimonials {
    padding: 30px;
    background: #111;
    color: whitesmoke;
    text-align: center;
    font-style: italic;
}

