/* RESET */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;

    font-family: 'Raleway', 'Sacramento';
}

/* BASICS */

body {
    color: darkslategray;
    padding: 0;
    margin: 0;
} 

p {
    line-height: 1.5;
    margin-bottom: 25px;
}

/* padding margin trick to allow fixed nav bar */

h1 {
    font-family: 'Playfair Display', serif;
    color: peru;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}


/* BANNER */

header {
    position: relative;
    width: 100%;
}

div.bgvideo {
    position: relative;
    height: calc(100vh + 90px);
}

.bgvideo video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(70%);
}

/* div.banner {
    position: absolute;
    background-image: url("images/banner3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    filter: brightness(50%);
    width: 100%;
    height: 100%;
    z-index: -1;
} */

a.logo {
    display: block;
    position: relative;
    top: 35vh;
    width: 140px;
    margin: 0 auto;
    padding: 10px;
    line-height: 90%;
    text-align: center;
    word-spacing: 999999px;
    color: white;
    font-family: 'Sacramento', cursive; 
    font-size: 40px;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: fade-in;
    animation-duration: 5s;
    animation-delay: 0;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

a.play {
    display: block;
    opacity: 0;
    position: relative;
    width: 80px;
    top: 35vh;
    height: 80px;
    margin: 0 auto;
    background-image: url("images/play2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    text-indent: -9999999px;
    z-index: 999999;
/*     transition: all 0.5s ease-in-out 0.01s;
    -webkit-transition: all 0.5s ease-in-out 0.01s;
    -o-transition: all 0.5s ease-in-out 0.01s;
    -moz-transition: all 0.5s ease-in-out 0.01s; */
    animation-name: fade-in-play;
    animation-duration: 3s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

@keyframes fade-in-play {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }
}

a.play:hover {
    opacity: 1;
}


a.down {
    display: none;
    position: absolute;
    width: 40px;
    bottom: 100px;
    height: 45px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    background-image: url("images/arrow3.png");
    background-size: 25px;
    background-repeat: no-repeat;
    text-indent: -9999999px;
    opacity: 0.5;
}

/* NAVIGATION */

nav {
    position: absolute;
    top: 0;
    width: 100%;
    /* position: -webkit-sticky; */
    background: white;
    opacity: 0;
    z-index: 10;
    animation-name: slide-down;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        -moz-transform: translate3d(0px, -70px, 0px);
        -webkit-transform: translate3d(0px, -70px, 0px);
        -o-transform: translate(1px, -70px);
        -ms-transform: translate(1px, -70px);
        transform: translate3d(0px, -70px, 0px); 
    }
    100% {
        opacity: 0.7;
        -moz-transform: translate3d(0px, 0, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate(1px, 0px);
        -ms-transform: translate(1px, 0px);
        transform: translate3d(0px, 0px, 0px); 
    }
}

nav ul {
    height: 100%;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

nav li {
    list-style-type: none;
}

nav a {
    display: block;
    width: 120px;
    padding: 20px;
    color: peru;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

nav a:hover {
    color: darkseagreen;
}

nav a:target {
    color: darkseagreen;
}


nav ul li.smalllogo a {
    word-spacing: 99999px;
    display: none;
    font-weight: 900;
    font-size: 20px;
    color: #4d0000;
    font-family: 'Sacramento';
    text-transform: none;
    line-height: 90%;
}

nav ul li.mobilemenu, nav ul li.top {
    display: none;
}
/* BODY */

main {
    position: relative;
}
section {
    padding: 30px 0;
    margin: 0 auto 100px auto;
    background: white;
}

.about h1 {
    padding-bottom: 50px;
    padding-top: 60px;
    margin-top: -60px;
}

section.about {
    margin-top: -130px;
    max-width: 1000px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    z-index: 10;
}

.about-text {
    max-width: 400px;
}


div.about-photos {
    max-width: 400px;
}

.about-photos img.photo1 {
    width: 100%;
    height: auto;
}

/* MOVIES */

.movies h1 {
    text-indent: -999999px;
    padding-top: 100px;
    margin-top: -140px;
}


section.movies {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-bottom: 180px;
}

figure {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 0 30px;
    text-align: center;
}

figcaption {
    font-family: 'Playfair Display', serif;
    color: peru;
    margin-bottom: 25px;
}

figure img {
    width: 280px;
    height: auto;
    filter: brightness(80%);
    transition: all 0.5s ease-in-out 0.01s;
    -webkit-transition: all 0.5s ease-in-out 0.01s;
    -o-transition: all 0.5s ease-in-out 0.01s;
    -moz-transition: all 0.5s ease-in-out 0.01s;
}

figure img.play {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 110px;
    left: 110px;
    opacity: 0;
}

figure a:hover img:first-child {
    filter: brightness(30%);
}

figure a:hover img.play {
    opacity: 0.7;
}

figcaption {
    margin-top: 10px;
}

/* ARTICLES */

article {
    display: none;
}

/* ENQUIRE */

.enquire h1 {
    padding-top: 50px;
    margin-top: -50px;
    margin-bottom: 40px;
}

section.enquire {
    background-color: transparent;
    height: fit-content;
    background-image: url(images/texture3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 0;
    position: relative;
}

/* .enquire video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(70%);
    z-index: -1;
    filter: brightness(40%);
} */

section.enquire form {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
}

form p {
    flex: 1 0 100%;
    text-align: center;
    color: white;
}

input, textarea {
    padding: 10px;
    flex: 0 0 100%; 
    margin: 10px 0;
    opacity: 1;
    background: white;
}

input.person {
    flex: 0 0 300px;
    padding: 10px;
}

p.ands {
    margin: 0 15px;
    padding: 0;
    flex: 0 0 60px;
    text-align: center;
}


textarea {
    resize: none;
}

input, textarea {
    outline: none;
    border: 1px solid #ddd;
}

input:focus, textarea:focus {
    box-shadow: 0 0 4px peru;
}

::placeholder {
    color: peru;
    opacity: 1;
}

:-ms-input-placeholder {
    color: peru;
    opacity: 1;
}

::-ms-input-placeholder {
    color: peru;
    opacity: 1;
}

button {
    display: block;
    padding: 15px 20px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    border: none;
    color: peru;
    font-family: 'Playfair Display', serif;
}

button:hover {
    background: #ddd;
}

/* TESTIMONIALS */

.testimonials {
    display: none;
    color: slategray;
    text-align: center;
    font-style: italic;
}

/* FOOTER */

footer {
    text-align: center;
    margin: 0;
    padding: 20px;
    font-size: 10px;
    background: white;
}


@media only screen and (max-width: 1240px) {

    p.ands {
        flex: 1 0 100%;
    }
}

@media only screen and (max-width: 614px) {

    
    header {
        position: relative;
    }

    nav {
        top: 0;
        height: 60px;
    }
    
    nav ul {
        justify-content: space-between;
    }

    nav ul li {
        display: none;
    }

    nav ul li.top {
        display: block;
    }

    nav ul li.top a {
        width: fit-content;
    }

    nav ul li.smalllogo {
        display: block;
    }

    nav ul li.mobilemenu {
        display: block;
        width: fit-content;
    }

    nav ul li.mobilemenu a {
        background-image: url(images/hamburger.svg);
        padding: 10px;
        margin-right: 20px;
        width: 30px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        text-indent: -99999px;
        height: 100%;
    }

    main {
        margin-top: 70px;
    }

/*     .about {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    } */


    figure div {
        width: 90%;
        height: auto;
    }


    .photo1 {
        width: 90%;
    }
    
    .movies h1 {
        display: block;
    }

    section.enquire form {
        width: 80%;
    }

    input.person {
        flex: 0 0 80%;
    }

}

/* ANIMATIONS */

/*animation element*/

.animation-element {
    position: relative;
} 

  /*animation element sliding left */

/* .animation-element.slide-down {
    opacity: 0;
    -moz-transition: all 900ms linear;
    -webkit-transition: all 900ms linear;
    -o-transition: all 900ms linear;
    transition: all 900ms linear;

    -moz-transform: translate3d(0px, -90px, 0px);
    -webkit-transform: translate3d(0px, -90px, 0px);
    -o-transform: translate(1px, -90px);
    -ms-transform: translate(1px, -90px);
    transform: translate3d(0px, -90px, 0px); 
} */
  
.animation-element.slide-up {
    opacity: 0;
    -moz-transition: all 900ms linear;
    -webkit-transition: all 900ms linear;
    -o-transition: all 900ms linear;
    transition: all 900ms linear;

    -moz-transform: translate3d(0px, 140px, 0px);
    -webkit-transform: translate3d(0px, 140px, 0px);
    -o-transform: translate(1px, 140px);
    -ms-transform: translate(1px, 140px);
    transform: translate3d(0px, 140px, 0px); 
}

.animation-element.slide-up.delay1 {
    transition-delay: 250ms;
}

.animation-element.slide-up.delay2 {
    transition-delay: 500ms;
}

.animation-element.in-view {
    opacity: 1;
     -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px); 
}

.animation-element.slide-down {
    opacity: 0;
    -moz-transition: all 900ms linear;
    -webkit-transition: all 900ms linear;
    -o-transition: all 900ms linear;
    transition: all 900ms linear;

    -moz-transform: translate3d(0px, 140px, 0px);
    -webkit-transform: translate3d(0px, 140px, 0px);
    -o-transform: translate(1px, 140px);
    -ms-transform: translate(1px, 140px);
    transform: translate3d(0px, 140px, 0px); 
}

.animation-element.slide-down.in-view {
    opacity: 1;
     -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px); 
}
/*animation slide left styled for testimonials*/

.animation-element.slide-left.testimonial {
    float: left;
    width: 47%;
    margin: 0% 1.5% 3% 1.5%;
    background: #F5F5F5;
    padding: 15px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    border: solid 1px #EAEAEA;
}
.animation-element.slide-left.testimonial:hover,
.animation-element.slide-left.testimonial:active{
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

.animation-element.slide-left.testimonial:nth-of-type(odd) {
    width: 48.5%;
    margin: 0% 1.5% 3.0% 0%;
}

.animation-element.slide-left.testimonial:nth-of-type(even) {
    width: 48.5%;
    margin: 0% 0% 3.0% 1.5%;
}

.animation-element.slide-left.testimonial .header{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.animation-element.slide-left.testimonial .left{
    float: left;
    margin-right: 15px;
}
.animation-element.slide-left.testimonial .right{
    float: left;
}

.animation-element.slide-left.testimonial img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-shadow: 0px 1px 3px rgba(51, 51, 51, 0.5);
}

.animation-element.slide-left.testimonial h3 {
    margin: 0px 0px 5px 0px;
}

.animation-element.slide-left.testimonial h4 {
    margin: 0px 0px 5px 0px;
}

.animation-element.slide-left.testimonial .content {
    float: left;
    width:100%;
    margin-bottom: 10px;
}

.animation-element.slide-left.testimonial .rating{}

.animation-element.slide-left.testimonial i {
    color: #aaa;
    margin-right: 5px;
}



/*media queries for small devices*/
@media screen and (max-width: 678px){
/*testimonials*/
.animation-element.slide-left.testimonial,
.animation-element.slide-left.testimonial:nth-of-type(odd),
.animation-element.slide-left.testimonial:nth-of-type(even){
    width: 100%;
    margin: 0px 0px 20px 0px;
}
.animation-element.slide-left.testimonial .right,
.animation-element.slide-left.testimonial .left,
.animation-element.slide-left.testimonial .content,
.animation-element.slide-left.testimonial .rating{
    text-align: center;
    float: none;
}
.animation-element.slide-left.testimonial img{
    width: 85px;
    height: 85px;
    margin-bottom: 5px;
}

}
