/* RESET */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;

    font-family: 'Raleway', 'Sacramento';
}

/* BASICS */

body {
    background: white;
    color: darkslategray;
    font-family: ;
    padding: 0;
    margin: 0;
} 

p {
    line-height: 1.5;
    margin-bottom: 25px;
    text-indent: 15px;
}

/* padding margin trick to allow fixed nav bar */

h1 {
    padding-top: 90px;
    margin-top: -90px;
    padding-bottom: 30px;
    font-family: 'Playfair Display', serif;
    color: peru;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}


/* BANNER */

div.bgvideo {
    position: relative;
    background-image: url("images/banner2.jpg");
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
}

a.logo {
    display: block;
    position: relative;
    top: 35vh;
    width: 140px;
    margin: 0 auto;
    padding: 10px;
    line-height: 90%;
    text-align: center;
    word-spacing: 999999px;
    color: white;
    font-family: 'Sacramento', cursive; 
    font-size: 40px;
}

a.play {
    display: block;
    position: relative;
    top: 35vh;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-image: url("images/play.png");
    background-size: 100%;
    background-repeat: no-repeat;
    text-indent: -9999999px;
    opacity: 0.7;
}


a.down {
    display: block;
    position: absolute;
    bottom: 10px;
    width: 40px;
    height: 45px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    background-image: url("images/arrow3.png");
    background-size: 30px;
    background-repeat: no-repeat;
    text-indent: -9999999px;
    opacity: 0.6;
}

/* NAVIGATION */

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    height: 70px;
    background: #fbfbfb;
    border-bottom: 1px solid #4d0000;
    z-index: 99;
}

nav ul {
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    list-style-type: none;
}

nav a {
    display: block;
    width: 120px;
    padding: 5px;
    color: peru;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

nav a:hover {
    color: darkseagreen;
}

nav a:target {
    color: darkseagreen;
}


nav ul li.smalllogo a {
    word-spacing: 99999px;
    font-weight: 900;
    font-size: 18px;
    color: #4d0000;
    font-family: 'Sacramento';
    text-transform: none;
    line-height: 90%;
}

nav ul li.mobilemenu, nav ul li.top {
    display: none;
}

/* BODY */

main {
    width: 100%;
}

section {
    padding: 60px 0;
    margin-bottom: 50px;
    background: white;
    width: 80%;
    margin: 0 auto;
}


section.about {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.about-text {
    margin: 0 30px;
    padding-bottom: 30px;
    width: 400px;
}


div.about-photos {
    width: 400px;
}

.about-photos img.photo1 {
    height: auto;
}

/* MOVIES */

.movies h1 {
    padding-top: 130px;
    margin-bottom: 30px;
}


section.movies {
    margin-bottom: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
}

figure {
    width: 280px;
    height: 350px;
    margin: 0 30px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

figure img {
    width: 280px;
    height: 260px;
    filter: brightness(50%);
    transition: all 0.5s ease-in-out 0.01s;
    -webkit-transition: all 0.5s ease-in-out 0.01s;
    -o-transition: all 0.5s ease-in-out 0.01s;
    -moz-transition: all 0.5s ease-in-out 0.01s;
}

figure img:hover {
    filter: brightness(100%);
}

figcaption {
    margin-top: 10px;
}


/* ENQUIRE */

section.enquire {
    width: 100%;
    height: fit-content;
    background-image: url("images/texture3.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
    
}

section.enquire form {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

form p {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}

input {
    height: 30px;
    margin: 10px;
    width: 90%;
    padding: 10px;
}

div.names {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

input.person {
    width: 250px;
    margin: 10px 20px;
}

textarea {
    resize: none;
    width: 90%;
    padding: 10px;
    margin: 10px;
}

input, textarea {
    outline: none;
    border: 1px solid #ddd;
}

input:focus, textarea:focus {
    box-shadow: 0 0 4px peru;
}

::placeholder {
    color: peru;
    opacity: 1;
}

:-ms-input-placeholder {
    color: peru;
    opacity: 1;
}

::-ms-input-placeholder {
    color: peru;
    opacity: 1;
}

button {
    display: block;
    padding: 15px 20px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    border: none;
    color: peru;
    font-family: 'Playfair Display', serif;
}

button:hover {
    background: #ddd;
}

.oldbutton {
    width: 130px;
    height: 50px;
    margin: 0 auto;
    background: slategray;
}

.oldbutton a {
    color: white;
    font-size: 20px;
    display: block;
    text-align: center;
    font-family: 'Playfair Display', Serif;
    text-transform: uppercase;
    padding: 15px;
}

.oldbutton a:hover {
    color: gold;
}

/* TESTIMONIALS */

.testimonials {
    color: slategray;
    text-align: center;
    font-style: italic;
}

/* FOOTER */

footer {
    text-align: center;
    margin: 0;
    padding: 20px;
    border-top: 1px solid slategray;
    font-size: 10px;
}

@media only screen and (max-width: 614px) {

    
    header {
        position: relative;
    }

    nav {
        position: fixed;
        opacity: 0.8;
        top: 0;
    }
    
    nav ul {
        justify-content: space-between;
    }

    nav ul li {
        display: none;
    }

    nav ul li.top {
        display: block;
    }

    nav ul li.top a {
        width: 50px;
    }

    nav ul li.smalllogo {
        display: block;
    }

    nav ul li.mobilemenu {
        display: block;
    }

    nav ul li.mobilemenu a {
        background-image: url(images/hamburger.svg);
        background-size: 30px;
        width: 40px;
        background-repeat: no-repeat;
        text-indent: -99999px;
    }

    main {
        margin-top: 70px;
    }

    .about {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    div.thumbnails {
        flex-wrap: wrap;
    }

    figure div {
        width: 90%;
        height: auto;
    }

    section {
        width: 90%;
    }

    .about-photos img {
        width: 90%;
        height: auto;
    }
}
